{% extends 'base.html.twig' %}

{% block title %}Commentaires{% endblock title %}

{% block content %}
  <div class="d-flex justify-content-center">
    <div class="card w-75">
      <h5 class="card-header">{{ subject.title }}</h5>
      <div class="card-body">
          <p class="card-text">{{ subject.text }}</p>
      </div>
      <div class="card-footer row">
        <div class="col-4">
          Posté par {{ subject.user.username }}
        </div>
        <div class="col-4">
          <span>Créé le {{ subject.getCreatedAt|date('d-M-Y') }}</span>
        </div>
        <div class="col-4">
        {% if subject.createdAt != subject.updatedAt %}
          <span>Modifié le {{ subject.getUpdatedAt|date('d-M-Y') }}</span>
        {% endif %}
        </div>
      </div>
    </div>
    
    <div class="mt-4">
        <h5>Comments</h5>
        
        {% if comments|length > 0 %}
            {% for comment in comments %}
                <div class="card mt-3">
                    <div class="card-body">
                        <p>{{ comment.content }}</p>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Soyez la première personne à répondre!</p>
        {% endif %}
    </div>
  </div>
{% endblock content %}
