{% extends 'base.html.twig' %}

{% block title %}Sujets{% endblock %}

{% block content %}

    {% if subjects is empty %}
    <h1>Salut, {{ app.user.username }}.</h1>
        <p>C'est plutôt calme dans le coin. Pourquoi ne posterais-tu pas le premier sujet?</p>
        <a href="{{ path('new_subject') }}" class="btn btn-lg btn-light fw-bold border-white bg-white">
            Je me lance!
        </a>
    {% else %}
        <div class="my-3 p-3 bg-body rounded shadow-sm text-secondary">
            <h6 class="border-bottom pb-2 mb-3">Derniers sujets</h6>
            {% for subject in subjects %}
            <div class="d-flex text-start mb-3">
                <p class="pb-3 mb-0 small lh-sm border-bottom">
                    {% if subject.user.username == app.user.username %}
                    <a class="link-underline link-underline-opacity-0" href="{{ path('edit_subject', {'id': subject.id }) }}" title="Modifier">✎</a>
                    <a class="link-underline link-underline-opacity-0" href="{{ path('delete_subject', {'id': subject.id }) }}" title="Supprimer">❌</a>
                    {% endif %}
                    <strong class="d-block text-gray-dark">
                        Posté par 
                        <a class="text-dark" href="{{ path('show_user_profile', { 'username': subject.user.username }) }}">
                        {{ subject.user.username }}</a>:
                        <a class="link-underline link-underline-opacity-0" href="{{ path('show_comments', { 'id': subject.id }) }}">
                        {{ subject.title|slice(0, 100) }}</a>
                    </strong>
                    {{ subject.text|slice(0, 150) ~ '...' }}
                </p>
            </div>
            <small class="d-block text-end mt-3">
                <strong class="d-block">
                    Créé le {{ subject.getCreatedAt|date('d-M-Y') }}{% if subject.getCreatedAt != subject.getUpdatedAt %}, modifié le {{ subject.getUpdatedAt|date('d-M-Y') }}{% endif %}
                </strong>
            </small>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}
